<div class="navbar navbar-default" role="navigation" bs-navbar>
    <div class="navbar-header">
        <a class="navbar-brand" href="#/homepage"><img src="../images/logo.png" style="height: 49px"/></a>
    </div>
    <ul class="nav navbar-nav">
        <li data-match-route="/?(navbar)?"><a href="#/homepage">Home</a></li>
    </ul>
    <div class="pull-right">
        <ul class="nav navbar-nav">
           <li> <a class="navbar-brand" href="/logout">Log Out</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Welcome!!!</h3>
        </div>
        <div class="panel-body">
            This is the landing page when ever the user admin login.
        </div>
    </div>
</div>