<div class="navbar navbar-default" role="navigation" bs-navbar>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">LOGO</a>
    </div>
    <ul class="nav navbar-nav">
        <li data-match-route="/?(navbar)?"><a href="#/">Home</a></li>
        <li data-match-route="/page-one"><a href="#/page-one">Page One</a></li>
        <li data-match-route="/page-two.*"><a href="#/page-two/sub-a">Page Two</a></li>
    </ul>
</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Welcome!!!</h3>
        </div>
        <div class="panel-body">
            This is the landing page when ever the user admin login.
        </div>
    </div>
</div>