<p style="color: #006400">Customer Support<p>
<p>You can contact us for any queries related to the portal via the following 2 channels</p>
&#45; Email ID &#45; support@entrancebook.zendesk.com
<br>
&#45; Facebook page &#45; <a href="https://www.facebook.com/pages/Medical-Entrance-Customer-Support/495155353936702?skip_nax_wizard=true">${build.buildType} Entrance Customer Support</a>
<br>