<p style="color: #FF0000"> Disclaimer:</p>
<p style="color: #C0C0C0">
    This email and any attachments to it may be confidential and are intended solely for the use of the individual to whom it is addressed to. If you are not the intended recipient of this email, you must neither take any action based upon its contents, nor copy or show it to anyone.
    If you believe you received this transmission in error, please notify the sender. Macula Healthcare reserves the right to monitor and review the content of all messages sent to or from this e-mail address.
</p>