<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
</head>
<body>
Dear Dr. ${firstName}
<h3><p style="color: #cc0000; font-size: 18pt">Thanks for your participation as '${adminType} Admin' </p></h3>
<br/>
<p>Macula Healthcare Pvt Ltd, is honored to have you as ${adminType} Admin.</p>
<p>Below is the login detail to access the web-application at www.entrancebook.com. We request you to please login and change the password.</p>
UserName : ${userName}
<br>Password : ${password}
<p>We again thank you for your contribution to entrancebook.</p>
    #parse("org/_thanks&Regards.vm")
    #parse("org/_customerSupprot.vm")
    #parse("org/_disclaimer.vm")
</body>
</html>