<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
</head>
<body>
Dear ${firstName},
<br>
<p>Thanks for requesting the password. We advise you to use the below password and change the same during your next visit in the My Account section. </p>
Your new password is : ${password}
<p style="font-weight:bold">Please note:</p>
<p>Password is case sensitive and do not share this with others. We advise you to please look into the  <a style="margin-right:5px" href="https://zendesk.com/">help center</a> to understand the portal and its services.  </p>
    #parse("org/_thanks&Regards.vm")
    #parse("org/_customerSupprot.vm")
    #parse("org/_disclaimer.vm")
</body>
</html>