<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
</head>
<body>
Hi ${firstName},
<br>
<h3><p style="color: #cc0000; font-size: 18pt">Greetings from entrancebook...</p></h3>
<p>Now it is the time to make maximum use of the portal. You have subscribed the following packages by paying Rs ${price} on ${purchaseDate}.</p>
    #set ($ind = 1)
<p>#foreach( $package in ${multiplePackagePlans} )
    $ind. ${package}<br>
    #set ($ind = $ind +1)
#end
</p>
<br/>
We hope you have already gone through our <a href="https://entrancebook.zendesk.com/hc/en-us/categories/200098533-Medical-PG-entrancebook">Help Center</a> to understand the details of the product.
If not, we strongly recommend you to please look into our 'Help Center' to understand more about optimally utilizing our portal.
<br><br>We wish you all the best.
    #parse("org/_thanks&Regards.vm")
    #parse("org/_customerSupprot.vm")
    #parse("org/_disclaimer.vm")
</body>
</html>