<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
</head>
<body>
Dear ${firstName},
<br>
<h3><p style="color: #cc0000; font-size: 18pt">Greetings from entrancebook...</p></h3>
<p>We are glad to inform that we have extended your current ${planDescription} and you can continue using our portal till ${planEndDateExtendedTo} .</p>
<p>We hope you have already gone through our <a href="https://entrancebook.zendesk.com/hc/en-us/categories/200098533-Medical-PG-entrancebook">Help Center</a> to understand the details of the product. If not, we strongly recommend you to please look into our 'Help Center' to understand more about optimally utilizing our portal.  </p>
<p> We wish you all the best.</p>
    #parse("org/_thanks&Regards.vm")
    #parse("org/_customerSupprot.vm")
    #parse("org/_disclaimer.vm")
</body>
</html>