<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
</head>
<body>
Dear ${firstName},
<br>
<h3><p style="color: #cc0000; font-size: 18pt">Greetings from entrancebook...</p></h3>
<p> We are sharing this coupon, please avail its benefits. The coupon code is '${couponCode}'. and you need to be claiming this before ${expiryDate} to get discount. </p>
<p>We hope you have already gone through our Help Center to understand the details of the product.
    If not, we strongly recommend you to please look into our <a href="https://entrancebook.zendesk.com/hc/en-us/categories/200098533-Medical-PG-entrancebook">Help Center</a> to understand more about optimally utilizing our portal.</p>
 <p>We wish you all the best...</p>
    #parse("org/_thanks&Regards.vm")
    #parse("org/_customerSupprot.vm")
    #parse("org/_disclaimer.vm")
</body>
</html>









